@import "tailwindcss";

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(45, 49, 66, 0.1);
        border-radius: 10px;
        transition: background 0.3s ease;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(45, 49, 66, 0.2);
    }
}
